%marauto{
    margin-left: auto;
    margin-right: auto;
}
body{
    color: #333;
}
.container{
    width: 1190px;
    @extend %marauto;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.margin-left-10{
    margin-left: 10px;
}
.padding-bt-10{
    padding-bottom: 10px;
}
.width-per100{
    width: 100%;
}
#root{
    height: 100%;
}
.layout-rent{
    min-height: 100%;
}
.header-rent{
    position: fixed;
    left: 200px;
    right: 0;
    top: 0;
    background: rgb(64, 64, 64)!important;
    padding: 0;
    flex-basis: 0%;
    flex-grow: 0;
    z-index: 2000;
}
.layout-rent-inner{
    flex-direction: column;
    flex: 1;
}
.rent-button{
    margin-bottom: 8px;
}
.pre-wrap{
    white-space: pre-wrap;
}
.cursor-pointer{
    cursor: pointer;
}

.detail-active-item{
    min-height: 32px;
    line-height: 32px;
    &.title{
        text-align: right;
        font-size: 12px;
        font-weight: 700;
    }
    
}

.color-blue{
    color: #108ee9;
}